conda.enabled = true
docker.enabled = false

params { // just put the test params here so it defaults to these
    // Part 1:
    // if this were a real pipeline, we could set up inputs for Part 1
    // (namely the input file and the database name)
    // but load_data.py can't take any command line arguments so it must be hardcoded.
    
    // Part 2:
    // This modifies the database from Part 1, whose name is hardcoded
    // so there are no params to use for this part either.

    // Part 3:
    // Once again, the database file is at a fixed location, so that doesn't need to be a parameter
    // There are some other options that can be modified though
    // As discussed here https://nf-co.re/blog/2026/parameter-types it's safest to just treat input params as strings...
    part3_inputdir = "./input/statistical_analysis" // input files are in subdirs of this
    threshold = "30"
    trust_CLT = "TRUE"
    adjust = "bonferroni"

    // Part 4:
    part4_inputdir = "./input/subset_analysis" // input files are in subdirs of this
}

// by default, Nextflow produces an error if you try to overwrite an existing log file
report {
    overwrite = true
}